.success {
  font-family: sans-serif;
  font-weight: 700;
  font-size: medium;
  letter-spacing: .1rem;
  max-width: 15rem;
  padding: .5rem 1rem;
  margin: 1rem .1rem;
  border-radius: .5rem;
  border: .1rem solid #96A998;
  background-color: #D6E8D7;
  color: #455446;
}

.error {
  font-family: sans-serif;
  font-weight: 700;
  font-size: medium;
  letter-spacing: .1rem;
  max-width: 15rem;
  padding: .5rem 1rem;
  margin: 1rem .1rem;
  border-radius: .5rem;
  border: .1rem solid #DD7476;
  background-color: #FCD4D5;
  color: #622D2E;
}